@import url('https://fonts.googleapis.com/css?family=Lexend+Exa:200,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Outfit:400,500,600');

html {
    scroll-behavior: smooth;
    opacity: 0;
    margin: 0px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

#about-me-header {
    font-family: 'Lexend Exa';
    font-weight: 900;
    font-size: 54px;
    scroll-margin-top: 160px;
    background-image: url("https://raw.githubusercontent.com/cherrythetree/cherrythetree.github.io/refs/heads/main/_media/white-noise.png");
    background-clip: text;
    background-size: 25vw 25vw;
    background-repeat: repeat;
    color: transparent;
}

h1 {
    font-family: 'Lexend Exa';
    font-weight: 900;
    font-size: 54px;
    scroll-margin-top: 160px;
    background-image: url("https://raw.githubusercontent.com/cherrythetree/cherrythetree.github.io/refs/heads/main/_media/red-noise.png");
    background-clip: text;
    background-size: 25vw 25vw;
    background-repeat: repeat;
    color: transparent;
}

body {
    display: block;
    margin: 0px;
}

a {
    text-decoration: none;
}

#background {
    display: block;
}

#cloud-noise {
    display: none;
    width: 256px;
    height: 256px;
}

.about-me-overview {
    padding-top: 125px;
}

.section {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 24px;
    font-family: 'Outfit';
    font-weight: 400;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100px;
}

.flex-content {
    display: flex;
}

.grid {
    display: grid;
    gap: 10px;
}

#site-header-inline {
    display: grid;
    height: auto;
    min-height: auto;
    width: 100%;
}

#site-navigation-compilation {
    margin: auto;
}

#site-navigation-menu {
    height: 100%;
    width: 100%;
}

.site-navigation-item-container {
    justify-content: center;
    padding: 0 40px 0 40px;
    align-items: center;
}

.site-navigation-item-label {
    font-family: 'Lexend Exa';
    font-weight: 900;
    font-size: 26px;
    background-image: url("https://raw.githubusercontent.com/cherrythetree/cherrythetree.github.io/refs/heads/main/_media/white-noise.png");
    background-clip: text;
    background-size: 25vw 25vw;
    background-repeat: repeat;
    color: transparent;
}

#middle {
    opacity: 1;
}

.middle-letter {
    opacity: 0;
}

#conclusion {
    opacity: 1;
}

.conclusion-letter {
    opacity: 0;
}

.intro-letter {
    opacity: 0;
}

.skill-letter {
    opacity: 0;
    z-index: 0;
}

#intro {
    opacity: 1;
}

#skill {
    opacity: 1;
}

.footnote {
    font-family: 'Outfit';
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}

.language-icon {
    margin: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tamp-highlight-color: transparent;
}

#projects {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.project-icon {
    border-radius: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.project-icon-description {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 27%, rgba(255, 255, 255, 0) 100%);
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
#star-center {
    padding-top: 15px;
    padding-bottom: 5px;
}

#star-picture {
    border-radius: 50%;
}

#star-image {
    transform: rotate(0deg);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#selfie {
    border-radius: 50%;
    padding: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#selfie:hover {
    border-width: 15px;
}

#site-header {
    display: block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #ffff !important;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    padding: 0 0px;
    background-image: url("https://raw.githubusercontent.com/cherrythetree/cherrythetree.github.io/refs/heads/main/_media/red-noise.png");
    background-size: 25vw 25vw;
    background-repeat: repeat;
    min-height: 150px;
    max-height: 150px;
}

@media (min-width: 640px) {
    .small\:grid-column {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .medium\:grid-column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .large\:margin-left {
        margin-left: 1rem;
    }

    .large\:margin-right {
        margin-right: 1rem;
    }

    .large\:grid-column {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .extra-large\:grid-column {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}