

.site-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #ffff !important;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 10px;
}

.heading {
    font-family: Helvetica, sans-serif;
}